RewriteEngine On

RewriteRule ^watch/([0-9a-zA-Z]+) watch.php?id=$1 [NC,L]

RewriteRule ^search/([0-9a-zA-Z]+) search.php?query=$1 [NC,L]
RewriteRule ^search search.php [NC]

RewriteRule ^genres/([0-9a-zA-Z]+) genres.php?genre=$1 [NC,L]
RewriteRule ^genres genres.php [NC]

RewriteRule ^complaint-report complaint-report.php
