.card-video-title {
  text-transform: uppercase;
  height: 100% auto;
  padding: 5px 12px 5px 12px;
  margin: 0px 8px 0 8px;
  font-size: 18px;
}

.video-description {
  margin: 12px 0px 0px 0px;
}

.fa-share-square-o {
  cursor: pointer;
}

.fa-share-square-o:hover {
  color: #cdcdcd;
}

.fa-thumbs-up {
  cursor: pointer;
}

.fa-thumbs-down {
  cursor: pointer;
}

.fa-thumbs-up:hover {
  color: #5564d2;
}

.fa-thumbs-down:hover {
  color: #d25555;
}

.trailer-back {
  position: fixed;
  padding: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 80;
  display: none;
}

.trailer {
  position: fixed;
  width: 800px;
  height: 480px;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -240px;
  z-index: 100;
  display: none;
}